.head-container {
    background-color: #000;
    width: 100vw;
    height: 8vh;
    display: grid;
    grid-template-columns: 2vw 1fr 1fr 2vw;
    align-content: center;
    z-index: 1;
    position: fixed;
}

.icons {
    height: 4vh;
}

.head-container a {
    grid-column: 2 / span 1;
    justify-self: left;
    height: 4vh;
}

.head-container button {
    grid-column: 3 / span 1;
    justify-self: right;
    height: 4vh;
}

button {
    background: none;
	border: none;
}