.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrapper {
    text-align: center;
}

.hero-header {
    font-size: 10vw;
    font-weight: 400;
    font-family: 'Saira Condensed', sans-serif;
    color: red;
}

.rotating {
    text-align: left;
    color: red;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 10vw;
    font-weight: 400;
}

.static {
    margin-right: 2vw;
    font-weight: 300;
}

.stack {
    display: grid;
    transition: 1s;
}

.stack > * {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}