@font-face {
    font-family: 'Test';
    src: url("../../../public/TypoGraphica_demo.otf")
}

@media only screen and (max-width: 600px) {

    .hero-text {
        font-size: 23rem;
    }

    .hero-text-under .hero-text {
        font-size: 7rem;
        line-height: 1.2;
    }

    .hero-text-under {
        justify-items: left;
    }

    .difference {
        -webkit-text-stroke: 0.01em white;
    }
}

@media only screen and (min-width: 600px) {
    .hero-text {
        font-size: 22rem;
    }

    .hero-text-under .hero-text {
        font-size: 10rem;
        line-height: 1.2;
    }

    .hero-text-under {
        justify-items: left;
    }

    .difference {
        -webkit-text-stroke: 0.01em white;
    }
}

@media only screen and (min-width: 768px) {

    .hero-text {
        font-size: 21rem;
    }

    .hero-text-under .hero-text {
        font-size: 10rem;
        line-height: 0.9;
    }

    .hero-text-under {
        justify-items: center;
    }

    .difference {
        -webkit-text-stroke: 0.01em white;
    }
}

@media only screen and (min-width: 992px) {
    .hero-text {
        font-size: 22rem;
    }

    .hero-text-under .hero-text {
        font-size: 13rem;
        line-height: 1;
    }

    .hero-text-under {
        justify-items: center;
    }

    .difference {
        -webkit-text-stroke: 0.01em white;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-text {
        font-size: 28rem;
    }

    .hero-text-under .hero-text {
        font-size: 17rem;
        line-height: 0.9;
    }

    .hero-text-under {
        justify-items: center;
    }

    .difference {
        -webkit-text-stroke: 0.01em white;
    }
}


.hero-text-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.hero-description-container {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

.h-text-first {
    transform: translate(0%, -100%);
}

.hero-text {
    top: 50%;
    position: fixed;
    font-family: 'Test';
    line-height: 0.8;
    user-select: none;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    opacity: 0;
    visibility: hidden;
}

.hero-text-container {
    display: grid;
}

.difference {
    color: black;
    mix-blend-mode: difference;
}

.overlay {
    color: white;
    mix-blend-mode: overlay;
}