body {
    background-color: #000;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}