.sidebar-container {
    height: 100%;
    background-color: #000;
    transition: 0.5s;
    top: 0;
    right: 0;
    position: fixed;
}

.side-items-container {
    display: flex;
    flex-direction: column;
    background-color: red;
    list-style-type: none;  
}

.side-items {

}

.side-items a{
    color: white;
    text-decoration: none;
}

.X-button {
    color: white;
}